/* .App{
  justify-content: center;
  text-align: center;
} */

.header-container{
  border-radius: 20px;
  background-color: rgb(86, 160, 160);
}

.header-col2{
  text-align: center;
  justify-content: center;
}

.Sign-container{
  margin: 20px auto;
  background-color: aquamarine;
  padding: 50px;
  padding-top: 50px;
  width: fit-content;
  border-radius: 20px;
  text-align: center;
}
.signup-icon{
  color: blue;
}

.col-3{
   padding: 5px;
}

.col-4{
  padding: 5px;
}

.col-5{
  padding: 5px;
}

.col-6{
  padding: 5px;
}

.col-7{
  padding: 20px;
}

.signup-icon-col2{
  font-size: 20px;
  color: blue;
}

.Log-container{
    padding-top: 50px;
    padding: 50px;
    margin: 20px auto;
    background-color: aquamarine; 
     width: fit-content;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    background-size: cover;
    
}


.col-2{
  padding: 5px;
}

.login-icon{
  color: blue;
}

.col-1{
  color: aqua;
}



.login-icon-col2{
  font-size: 20px;
  color: blue;
}

.main-footer{
    padding-top: 150px;
    flex-direction: column;
    flex: 1;
}
.footer-row1{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.header-col1{
  text-align: center;
}

img{
  border-radius: 20px;
  height: 100px;
  width: 100px;
}



